html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding-top: 25px;
}
body {
  /*padding-top: 50px;*/
}
#map-container {
  height: 60%;
  padding: 0;
}
#table-container {
  height: 40%;
  padding: 5px;
  position: relative;
  box-shadow: inset 0 8px 8px -8px #696868;
}
#map {
  height: 100%;
}
#table tr {
  cursor: pointer;
}
#loading-mask {
  background-color: rgba(0, 0, 0, 0.5);
}
.loading-indicator {
  position: absolute;
  width: 220px;
  height: 19px;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -110px;
  z-index: 20001;
}
.loading-bar {
  width: 100%;
}
.rule-value-container {
  max-height: 100px;
  width: 350px;
  overflow: auto;
}
.tab-content {
  padding-top: 10px;
}
.fa-white {
  color: white;
}
.info-control {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.9);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}
.leaflet-control-layers {
  overflow: auto;
}
.leaflet-control-layers label {
  font-weight: normal;
  margin-bottom: 0px;
}
.leaflet-control-layers-selector {
  top: 0px;
}
.navbar .navbar-brand {
  font-weight: bold;
  font-size: 25px;
  color: white;
}
.navbar-brand img {
  height: 100%;
  margin-top: -5px;
  margin-right: 15px;
  display: inline;
}
.navbar-nav img {
  height: 40px;
  margin-top: -12px;
  margin-bottom: -10px;
}
@media (max-width: 992px) {
  .navbar .navbar-brand {
    font-size: 18px;
  }
  body {
    overflow-y: auto;
  }
  .fixed-table-toolbar {
    display: none;
  }
  .fixed-table-container {
    padding-bottom: 15px !important;
  }
}
@media print {
  .navbar {
    display: none !important;
  }
  .leaflet-control-container {
    display: none !important;
  }
}





@import "bourbon";

#fullBg {
    z-index: -1;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    background: url('https://31.media.tumblr.com/3b08b64bfe69d670c91c03a5e2fd42b6/tumblr_mv5lnjrRQ51qfj2dqo1_1280.jpg') no-repeat center center fixed;
    background-size: cover;
}

.form-signin {
  max-width: 280px;
  margin: 60px auto 10px;

  .form-signin-heading {
    text-align: center;
    font-weight: bold;
    color: #fff;
	  margin-bottom: 20px;
	}

	.checkbox {
	  font-weight: normal;
	}

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
		@include box-sizing(border-box);
	}

	input[type="text"] {
	  margin-bottom: -1px;
     border-top: 1px solid transparent;
     border-right: 1px solid transparent;
     border-left: 1px solid transparent;
     box-shadow: none;
	  border-radius: 3px 3px 0px 0px;

		&:focus {
      box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		}
	}

	input[type="password"] {
    z-index: 2;
	  margin-bottom: 20px;
    border-top: none;
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    border-radius: 0px 0px 3px 3px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);

		&:focus {
      box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0px 1px 0px 0px rgba(255,255,255,0.5);
		}
	}

  .btn {
    font-weight: bold;
    border-radius: 3px;
    border: none;
  }
}

p.sign-up {
  color: #fff;
  font-size: 12px;
}
